<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--User ID=sa;Password=Reset@123;Pooling=False;"-->

    <add name="intranetConnectionString" connectionString="Data Source=DESKTOP-71ON71H\SQLEXPRESS;Initial Catalog=SDL;Integrated Security = SSPI;Pooling=False;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-71ON71H\SQLEXPRESS;Initial Catalog=SDL;Integrated Security = SSPI;Pooling=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=DESKTOP-71ON71H\SQLEXPRESS;Initial Catalog=SDL;Integrated Security = SSPI;Pooling=False;"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="AL" value="1"/>
    <add key="ML" value="2"/>
    <add key="PL" value="3"/>
    <add key="FL" value="6"/>
    <add key="url" value="http://192.168.5.101:8086/main14.aspx"/>
    <!--<add key="fromEmail" value="admin@abmauriapps.in"/>-->
    <add key="fromEmail" value="hrms1@sdlglobe.com" />
    <add key="fromName" value="Testing" />
    <add key="pwd" value="Sdlglobe@123" />
    <!--<add key="smtp" value="smtp.net4india.com"/>-->
    <add key="smtp" value="md-in-59.webhostbox.net" />
    <add key="emailLogo" value="I:\Clients\sdlfinal.png" />
    <add key="mail" value="N" />
    <add key="PasswordExpiryDays" value="90" />
    <add key="EnableSsl" value="False" />
    <add key="Port" value="587" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="3000"/>
    <customErrors mode="Off">
      <!--<error statusCode="408" redirect="error.aspx"/>-->
    </customErrors>
    <httpRuntime maxRequestLength="50000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>

        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>

        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>

      </assemblies>

      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>

    </compilation>
  </system.web>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>

</configuration>