
#page_16666 {
    position: relative;
    overflow: hidden;
    margin: 95px 0px 335px 120px;
    padding: 0px;
    border: none;
    width: 696px;
}

.ft06666 {
    font: 16px 'Times New Roman';
    line-height: 19px;
}

.ft16666 {
    font: 16px 'Times New Roman';
    line-height: 18px;
}

.ft26666 {
    font: 11px 'Times New Roman';
    line-height: 14px;
    position: relative;
    bottom: 7px;
}

.ft36666 {
    font: bold 16px 'Times New Roman';
    line-height: 19px;
}

.ft46666 {
    font: 16px 'Times New Roman';
    line-height: 27px;
}

.p06666 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p16666 {
    text-align: left;
    margin-top: 33px;
    margin-bottom: 0px;
}

.p26666 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
}

.p36666 {
    text-align: left;
    margin-top: 36px;
    margin-bottom: 0px;
}

.p46666 {
    text-align: left;
    padding-left: 32px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.p56666 {
    text-align: justify;
    padding-right: 120px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.p66666 {
    text-align: justify;
    padding-right: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.p76666 {
    text-align: left;
    margin-top: 22px;
    margin-bottom: 0px;
}

.p86666 {
    text-align: left;
    margin-top: 71px;
    margin-bottom: 0px;
}

.p96666 {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 0px;
}
